@import "tailwindcss";


:root {
  --primary: #232323;
  --secondary: #80B500;
  --tertiary: #546375;
  --white: #ffffff;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-white: var(--white);
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", monospace;

}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-white: var(--color-white);
}
@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", monospace;
}
.icon-style {
  @apply p-2.5 bg-secondary text-white border border-secondary rounded-full cursor-pointer duration-300 hover:bg-white hover:text-secondary;
}

.btn-primary {
  @apply bg-secondary border border-secondary text-white font-nunito font-bold text-[14px] px-7 py-3 uppercase cursor-pointer duration-300 hover:bg-white hover:text-secondary;
}